.not-found{
	img{
		max-width: 400px;
		height: auto;
		margin-top: 90px;
	}
	.back{
		text-align: center;
		display: block;
		margin: 0 auto;
		width: 200px;
		background-color: #fff;
		border-radius: 50px;
		margin-top: 30px;
		height: 60px;
		font-size: 24px;
		text-decoration: none;
		line-height: 52px;
	}
}