@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
	
	section{
		padding: 90px 10px 10px 10px;
	}
	
	.character-container{
		max-width: 1100px;
		margin: 10px auto 10px auto;
		position: relative;
		height: 535px;
		animation: 0.5s linear running slidein;
	}

	@keyframes slidein {
		0%{
			opacity: 0;
		}
		100%{
			opacity: 1;
		}
	}
	.row-slide{
		display: flex;
	}
	img{
		height: 530px;
		display: block;
		margin: 0 auto;
		position: relative;
		left: 0;
	}
	.slide-content{
		position: relative;
		height: 530px;
		width: 495px;

		.content-wrapper{
			position: absolute;                
			top: 50%;                         
			transform: translate(0, -55%)
		}
		h2{
			font-size: 32px;
			font-family: 'Ubuntu', sans-serif;
		}
		p{
			font-size: 22px;
			height: auto;
		}
		.more-info{
			display: block;
			width: 160px;
			background-color: rgba(240, 248, 255, 0.166);
			border-radius: 50px;
			height: 40px;
			cursor: pointer;
			text-align: center;
			font-size: 16px;
			text-decoration: none;
			color: black;
			line-height: 36px;
			transition: all 0.3s ease-out;
		}
		.more-info:hover{
			background-color: rgba(240, 248, 255, 0.464);
		}
	}

	.prev, .next{
		display: block;
		margin: 0 auto;
		border: none;
		width: 100px;
		height: 35px;
		cursor: pointer;
		opacity: .6;

		&:hover{
			opacity: 1;
		}
	}

	.prev{
		background: url('../../assets/img/mainPage/arrUp.png') 80% 80%/ 100px 35px no-repeat;
	}

	.next{
		background: url('../../assets/img/mainPage/arrDown.png') 80% 80%/ 100px 35px no-repeat;
	}


@media all and (max-width: 979px) {
	.character-container{
		height: 700px;
	}
	.row-slide{
		overflow: hidden;
		display: block;
		img{
			position: relative;
			left: 0%;
		}
		p{
			display: none;
		}
		h2{
			text-align: center;
		}
		.slide-content{
			position: relative;
			height: auto;
			width: auto;
		}
		.more-info{
			display: block;
			margin: 0 auto;
		}
		.content-wrapper{
			position: static;
			left: 0;
			width: 100%;
			transform: none;
		}
	}

}

@media all and (max-width: 960px) {
	section{
		padding: 30px 10px 10px 10px;
	}
}	

