@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.overflow-hidden{ overflow: hidden; }

header{
	position: absolute;
	top: 0;
	width: 100%;
	.header-row{
		padding: 25px 10px 0 10px;
		display: flex;
		justify-content: space-between;
	}

	ul{
		display: flex;
		padding: 0;
		margin: 0;
		li{
			list-style: none;
			line-height: 30px;
			font-family: 'Ubuntu', sans-serif;
			font-size: 26px;
			margin-right: 35px;
			cursor: pointer;
		}
	}
	.search{
		position: relative;
		&::before{
			content: '\1F50E';
			position: absolute;
			top: 7px;
			left: 15px;
			z-index: 1;
		}
	}
	input{
		width: 190px;
		background-color: rgba(240, 248, 255, 0.166);
		border-radius: 50px;
		height: 30px;
		font-size: 24px;
		padding-left: 38px;
		transition: all 0.3s ease-out;
		&:hover{
			background-color: rgba(240, 248, 255, 0.464);
		}

		&::placeholder{
			color: rgb(44, 44, 44);
			font-size: 18px;
		}
	}

	.burger{
		display: none;
		.menu-bar{
			margin-top: 2px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 50px;
			cursor: pointer;
			height: 30px;
			div{
				height: 5px;
				width: 100%;
				background-color: black;
				transition:  all 0.3s ease;
			}
		}
		.change-bar{
			#bar1{
				margin-top: 12px;
				transform: rotate(45deg);
			}
			#bar2{
				transform: rotate(-45deg);
				margin-bottom: 12px;
			}
			#bar3{
				display: none;
			}
		}
	}
}

@media all and (max-width: 960px) {
	header {
		position: static;
		.menu{ display: none; }
		.active-menu{ display: block; }
		.burger{ display: block; z-index: 6;}

		ul{
			position: absolute;
			width: 100vw;
			height: 100vh;
			top: 0;
			left: 0;
			display: block;
			background-color: #f3282d;
  			background: linear-gradient(45deg, #e52629 0%, #ca1f22 30%, #b31111 66%, #970c11 100%);
			z-index: 5;
			li{
				position: relative;
				top: 30%;
				margin: 50px 0 0 0;
				text-align: center;
				font-size: 40px;
			}
		}
	}
	
	
		
}

